body {
    background: #141212;
  }
  
  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.sky {
  width: 300px;
  height: 300px;
  border-radius: 12%;
  background-color: #553788;
}

  