body {
  background: #FED550;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.square {
  width: 120px;
  height: 120px;
  background-color: #008EC1;
  animation:
  slide 4s linear infinite normal;

}

.square-border {
  width: 90px;
  height: 90px;
  border: 15px solid #008EC1;
}

.rotate {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

@keyframes slide {
  0% {
    transform: translate(0, 0) rotate(45deg);
  }

  30% {
    transform: translate(120px, 0) rotate(45deg)
  }

  40% {
    transform: translate(120px, 0) rotate(135deg)
  }

  70% {
    transform: translate(120px, 0) rotate(135deg)
  }

  100% {
    transform: translate(0px, 0) rotate(135deg);
  }
}
