
:root {
    --star-color: #efe899;
    --background-color: #333237;
    --big-star-size: 300px;
    --star-tip-width: 10px;
    --star-tip-base-width: 180px;
    --star-center-width: calc(var(--star-tip-width) * 2);
}

body {
    background-color: var(--background-color);
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.big-star {
    display: flex;
    flex-direction: column;
    align-items: center
}

/* star top */

.star-tip {
    width: 0;
    height: 0;
    border-left: var(--star-tip-width) solid transparent;
    border-right: var(--star-tip-width) solid transparent;
    border-bottom: var(--star-tip-base-width) solid var(--star-color);
}

.bottom {
    -webkit-transform:rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

/* star body  */

.star-body {
    display: flex;
}

.star-center-vertical {
    padding-right: var(--star-center-width);
    background-color:var(--star-color);
}

.star-fragment {
    width: var(--big-star-size);
    height: var(--big-star-size);
    background-color:var(--star-color);
}

.star-fragment-background {
    background-color:  var(--background-color);
    width: var(--big-star-size);
    height: var(--big-star-size);
}

.top-left-fragment-bg {
    border-bottom-right-radius: var(--big-star-size);
}

.bottom-left-fragment-bg {
    border-top-right-radius: var(--big-star-size);
}

.top-right-fragment-bg {
    border-bottom-left-radius: var(--big-star-size);
}

.bottom-right-fragment-bg {
    border-top-left-radius: var(--big-star-size);
}
