
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.main-figure {}

.big-star {
    display: flex;
}

.star-fragment {
    width: 300px;
    height: 300px;
    background-color:#efe899;
}

.star-fragment-background {
    background-color: #ffffff;
    width: 300px;
    height: 300px;
}

.top-left-fragment-bg {
    border-bottom-right-radius: 300px;
}

.bottom-left-fragment-bg {
    border-top-right-radius: 300px;
}

.top-right-fragment-bg {
    border-bottom-left-radius: 300px;
}

.bottom-right-fragment-bg {
    border-top-left-radius: 300px;
}