/* base css */

body {
  background: #E1E1E1;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

/* cat css */

.head {
  height: 350px;
  width: 410px;
  background-color:  #FEECBE ;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.ears {
  height: 170px;
  width: 320px;
  /* background-color:  black; */
  margin-bottom: -100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ear {
  width: 0;
  height: 0;
  border-left: 80px solid transparent;
  border-right: 80px solid transparent;
  border-bottom: 150px solid #FEECBE;
}